/* this is my style sheet */

* {
    font-family: Verdana, Helvetica, sans-serif;    
}
#wrapper {
    width: 500px;
    /* center layout element:top,right, bottom, left*/
    margin: 10px auto 10px auto;
    height: 500px;
    background:#dddddd;
}
header {
    width: 100%;
    height: 50px;
    background:#bbbbbb;
    text-align: center;
}
.article-head {
    background: #ffffff;
}
nav, aside {
    background:#bbbbbb;
    width: 100px;
    float: left;
}
article {
    /*border: 1px solid #000000;*/
    background: #ffffff;
    width: 300px;
    float: left;
}
#page-footer {clear:left; background:#bbbbbb;
