/* this is my style sheet */

* {
    font-family: Verdana, Helvetica, sans-serif; 
    color: #42434c;
    
}

.container {

    background:#d7daf7;
}
header {

    background:#858799;
    text-align: center;
}
.article-head {
    background: #858799;
}
li {
    background:#858799;
}
article {
    border: 1px solid #000000;

}
#page-footer {
  
    background:#858799;
    border-top:1px solid #888888;
}

a {
    display:block;
}

a:link {
    background: #7a7c8c;
}

a:visited {
    background: #7a7c8c;
}

a:hover, a:active {
    background: #d98838;
}

