/* this is my style sheet */

/*

* {
    font-family: Verdana, Helvetica, sans-serif; 
    margin: 0; padding: 0; 
    
}

#wrapper {
    width: 960px;
    /* center layout element:top,right, bottom, left*/
    margin: 10px auto 10px auto;
    height: 900px;
    background:#ddddee;
}
header {
    width: 90%;
    height: 50px;
    background:#bbbbbb;
    text-align: center;
}
.article-head {
    background: #ffffff;
}
nav, aside {
    background:#bbbbbb;
    width: 25%;
    float: left;
}
article {
    /*border: 1px solid #000000;*/
    background: #ffffff;
    width: 50%;
    float: left;
}
#page-footer {
    clear:left; 
    background:#bbbbbb;
}

a {
    display:block;
}

a:link {
    background: #ccdded;
}

a:visited {
    background: #bccdcb;
}

a:hover, a:active {
    background: #cddedc;
}

*/
