/* this is my style sheet */

* {
    font-family: Verdana, Helvetica, sans-serif; 
    color: #3f403f;
    
}

body {

    background:f3f5f3;
}
header {

    background:#c5c7c6;
    text-align: left;
}

section {
    background:#c5c7c6;

}

footer {
    background:#c5c7c6;
    border-top:1px solid #6a6b6b;
}

a {
    display:block;
    height: 3em;
}

a:link {
    background: #c5c7c6;
}

a:visited {
    background: #a2a3a2;
}

a:hover {
    background: #d98838;
}

a:active {
    background: #ff0000;
}

.current-page {
    background: #00ff00;
}
