/* this is my style sheet */

* {
    font-family: Verdana, Helvetica, sans-serif; 
    color: #555555;
    
}

.container {

    background:#ddddee;
}
header {

    background:#bbbbbb;
    text-align: center;
}
.article-head {
    background: #ffffff;
}
nav {
    background:#bbbbbb;
}
article {
    border: 1px solid #000000;

}
#page-footer {
  
    background:#bbbbbb;
    border-top:2px solid #888888;
}

a {
    display:block;
}

a:link {
    background: #ccdded;
}

a:visited {
    background: #bccdcb;
}

a:hover, a:active {
    background: #cddedc;
}

